body{
    margin-left: 40px;
}
.inline-tag li{
    text-align:justify;
    text-decoration:none;
    color: rgba(220, 241, 223, 0.829);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: coral;
    width: 22%;

}
.inline-tag li:hover{
    color: cyan;
    width: auto;

}
#block li{
    color: rgba(31, 3, 3, 0.979);
    font-size: 20px;
    font-weight: 800;
font-family: monospace;
text-decoration: none;

}
#block li:hover{
    cursor: pointer;
    color: darkorange;
    width: auto;

}
tcaption{
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    text-align: justify;
}
td,th {
    border: 3px solid rgb(34, 6, 46);
padding: 5px 5px;
}

